<a href="/">Home</a>
<!--<a href="/music">Music</a>-->
<a href="/fursona">Fursona</a>
<a href="/drawer">Drawer</a>
<div class="nav-right flex-right">
    <a href="https://github.com/vickipinz">GitHub</a>
</div>