---
layout: default
---

<h1>fursona gallery</h1>
<p>my fursonas a platinum fox ummm shes great here are drawings of her :3</p>
<p>hover to find who drew it!</p>
<div class="gallery">
  <figure>
    <img src="/assets/images/fursona/mutetroop1.png" />
    <figcaption><a href="https://bsky.app/profile/dullscythe.wtf">@mutetroop</a></figcaption>
  </figure>
  <figure>
    <img src="/assets/images/fursona/nemu.png" />
    <figcaption><a href="https://denden.world/@veigar">@veigar@denden.world</a></figcaption>
  </figure>
  <figure>
    <img src="/assets/images/fursona/mutetroop2.png" />
    <figcaption><a href="https://twitter.com/mutetroop">@mutetroop</a></figcaption>
  </figure>
</div>