---
layout: default
---

<h1>welcoem to my website</h1>
<p>hey im vicki im a fox who makes dance music</p>
<p>currently under construction</p>
<img
  alt="awesome animated gif with pictures of wolves, several under the moonlight, as well as a digitally rendered running wolf over an animated heart. it says let the wolves run free. its really cool"
  src="assets/images/gfx/wolves.webp"
  style="max-width:100%;"
/>